{% extends "base.html" %}
{% load static %}
{% block main %}
    <main class="main">
        <div class="container">
            <ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
                <li class="active">
                    <a href="{% url 'cart:cart_detail' %}">Panier</a>
                </li>
                <li>
                    <a href="{% url 'orders:Order_create' %}">vérifier</a>
                </li>
                <li class="disabled">
                    <a href="{% url 'cart:cart_detail' %}">Commande terminée</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table-container">
                        <form id="cart-update-form" action="{% url 'cart:cart_update' %}" method="post">
                            {% csrf_token %}
                            <table class="table table-cart">
                                <thead>
                                <tr>
                                    <th class="thumbnail-col"></th>
                                    <th class="product-col">Produit</th>
                                    <th class="price-col">Prix</th>
                                    <th class="qty-col">Quantite</th>
                                    <th class="text-right">Sous-Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr class="product-row">
                                            <td>
                                                <figure class="product-image-container">
                                                    <a href="#" class="product-image">
                                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                                    </a>
                                                    <a href="{% url "cart:cart_remove" product.id %}"
                                                       class="btn-remove icon-cancel" title="Remove Product"></a>
                                                </figure>
                                            </td>
                                            <td class="product-col">
                                                <h5 class="product-title">
                                                    <a href="#">{{ product.name }}</a>
                                                </h5>
                                            </td>
                                            <td>{{ product.price }}</td>
                                            <td>
                                                <div class="product-single-qty">
                                                    <input id="quantity-{{ product.id }}"
                                                           class="horizontal-quantity form-control" type="text"
                                                           name="quantity" value="{{ item.quantity }}">
                                                </div>
                                            </td>
                                            <td class="text-right"><span
                                                    class="subtotal-price">{{ item.total_price }}</span></td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5" class="clearfix">
                                        <div class="float-right">
                                            <button id="update-cart" type="submit" class="btn btn-shop btn-update-cart">
                                                Mise à jour panier
                                            </button>
                                        </div><!-- End .float-right -->
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div><!-- End .cart-table-container -->
                </div><!-- End .col-lg-8 -->
                <div class="col-lg-4">
                    <div class="cart-summary">
                        <h3>CART TOTALS</h3>
                        <table class="table table-totals">
                            <tbody>
                            <tr>
                                <td>Sous-total</td>
                                <td>{{ cart.get_total_price }}</td>
                            </tr>

                            <tr>
                                <td colspan="2" class="text-left">
                                    <h4>Livraison</h4>

                                    <div class="form-group form-group-custom-control">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="shipping_option"
                                                   id="retraitMagasin" value="0">
                                            <label class="custom-control-label" for="retraitMagasin">Retrait
                                                Magasin</label>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-custom-control mb-0">
                                        <div class="custom-control custom-radio mb-0">
                                            <input type="radio" name="shipping_option" class="custom-control-input"
                                                   id="livraisonGratuite" value="0">
                                            <label class="custom-control-label" for="livraisonGratuite">Livraison
                                                gratuite sur tout le Maroc à partir de 400 dhs : 0 dh</label>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-custom-control mb-0">
                                        <div class="custom-control custom-radio mb-0">
                                            <input type="radio" name="shipping_option" class="custom-control-input"
                                                   id="livraisonCasablanca" value="19.00">
                                            <label class="custom-control-label" for="livraisonCasablanca">Livraison
                                                Casablanca (moins de 400 dhs): 19.00 dhs</label>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-custom-control mb-0">
                                        <div class="custom-control custom-radio mb-0">
                                            <input type="radio" name="shipping_option" class="custom-control-input"
                                                   id="livraisonHorsCasablanca" value="39.00">
                                            <label class="custom-control-label" for="livraisonHorsCasablanca">Livraison
                                                hors Casablanca (moins de 400 dhs): 39.00 dhs</label>
                                        </div>
                                    </div>
                                    <br>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            // Attach event listener to all radio buttons with name "shipping_option"
                                            var radioButtons = document.querySelectorAll('input[name="shipping_option"]');
                                            radioButtons.forEach(function (radioButton) {
                                                radioButton.addEventListener('change', function (event) {
                                                    var selectedValue = event.target.value; // Get the selected value
                                                    updateCartTotal(selectedValue); // Call function to update cart total
                                                });
                                            });

                                            // Function to update cart total using AJAX
                                            function updateCartTotal(selectedValue) {
                                                var csrftoken = getCookie('csrftoken');

                                                // Make AJAX request
                                                var xhr = new XMLHttpRequest();
                                                xhr.open('POST', '{% url 'cart:cart_update_shipping_cost' %}', true); // Replace with your Django view URL
                                                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                                                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                                                xhr.onreadystatechange = function () {
                                                    if (xhr.readyState === XMLHttpRequest.DONE) {
                                                        if (xhr.status === 200) {
                                                            // Update cart total on success
                                                            var response = JSON.parse(xhr.responseText);
                                                            document.getElementById('cart_total').innerText = response.total_with_shipping; // Assuming there's an element with id "cart_total" to display the total
                                                        } else {
                                                            // Handle error
                                                            console.error('Error:', xhr.status);
                                                        }
                                                    }
                                                };
                                                xhr.send('shipping_option=' + encodeURIComponent(selectedValue)); // Send selected value to server
                                            }
                                        });
                                        function getCookie(name) {
                                            var cookieValue = null;
                                            if (document.cookie && document.cookie !== '') {
                                                var cookies = document.cookie.split(';');
                                                for (var i = 0; i < cookies.length; i++) {
                                                    var cookie = cookies[i].trim();
                                                    // Check if the cookie name matches the desired name
                                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                        break;
                                                    }
                                                }
                                            }
                                            return cookieValue;
                                        }
                                    </script>
                                </td>
                            </tr>
                            </tbody>

                            <tfoot>
                            <tr>
                                <td>Total</td>
                                <td id="cart_total">{{ cart.get_total_price }}</td>
                            </tr>
                            </tfoot>
                        </table>

                        <div class="checkout-methods">
                            <a href="{% url 'orders:Order_create' %}" class="btn btn-block btn-dark">vérifier
                                <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div><!-- End .cart-summary -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
            <div class="row">
                <div class="col-lg-9 main-content">
                     <h2 class="section-title text-center d-flex align-items-center">Similar Products</h2>

                    <div class="row products-group products-caty">
                        {% for product in recommended_products %}
                            <div class="col-md-4 col-6">
                                <div class="product-default inner-quickview inner-icon quantity-input">
                                    <figure>
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{{ product.image.url }}" width="280" height="280"
                                                 alt="{{ product.title }}">
                                        </a>
                                        {% if product.is_hot %}
                                            <div class="label-group">
                                                <span class="product-label label-hot">HOT</span>
                                            </div>
                                        {% endif %}
                                        {% if product.discount_percentage %}
                                            <div class="label-group">
                                                <span class="product-label label-sale">-{{ product.discount_percentage }}%</span>
                                            </div>
                                        {% endif %}
                                        <div class="btn-icon-group">
                                            <a href="#" class="btn-icon btn-icon-wish">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <a href="#" class="btn-quickview" title="Quick View">Quick View</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-list">
                                            <a href="{{ product.category.get_absolute_url }}"
                                               class="product-category">{{ product.category }}</a>
                                        </div>
                                        <h3 class="product-title"><a
                                                href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                        <div class="ratings-container">
                                            <!-- Render product ratings here if available -->
                                        </div>
                                        <div class="price-box">
                                            {% if product.discounted_price %}
                                                <span class="product-price">${{ product.discounted_price }}</span>
                                                <del class="product-old-price">${{ product.price }}</del>
                                            {% else %}
                                                <span class="product-price">${{ product.price }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-action">
                                            <a href="{% url 'cart:cart_add list' product.id %}"
                                               class="btn-icon btn-add-cart product-type-simple"><i
                                                    class="icon-shopping-cart"></i><span>Ajouter Au Panier</span></a>
                                            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i
                                                    class="fas fa-external-link-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!-- End .row -->
            <div class="mb-6"></div>
        </div>
    </main><!-- End .main -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var updateCartBtn = document.getElementById('update-cart');
            if (updateCartBtn) {
                updateCartBtn.addEventListener('click', function (event) {
                    var form = document.getElementById('cart-update-form');
                    var formData = new FormData(form);
                    var quantityInputs = form.querySelectorAll('.horizontal-quantity');
                    quantityInputs.forEach(function (input) {
                        var productId = input.id.split('-')[1]; // Extract product ID from input ID
                        var quantity = input.value; // Get the quantity from the input field
                        formData.append('product_' + productId, quantity); // Append product ID and quantity to FormData
                    });
                    fetch(form.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                        .then(function (response) {
                            if (response.ok) {
                                // Handle success response
                            } else {
                                // Handle error response
                            }
                        })
                        .catch(function (error) {
                            console.error('Error:', error);
                        });
                });
            }
        });

    </script>
    <script>
    </script>
{% endblock %}
