   .features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {

  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

h3{
     position: relative;
    top:10px
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
    margin-top: 15px;
}
.features-boxed .item:hover{
    -webkit-box-shadow: 0 4px 16px 2px rgba(77,77,79,0.08),0 8px 12px 2px rgba(77,77,79,0.16);
    cursor: pointer;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}



.features-boxed .item .name {
  font-size: 13px;
  margin-top: -10px;
   color: rgba(16,16,16,0.94);
}


    .features-boxed .item .price {
        font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
   color: rgba(16,16,16,0.94);
}

.features-boxed .item  {
  color: #1485ee;
    background-color: #fff;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
    margin-right: 25px;
    max-width: calc((100% - (20px * 3)) / 4);
    min-width: 220px;
}


img {
  vertical-align: middle;
  border-style: none;
}

.product-card-module_add-to-cart-button-wrapper{

    width: 173.5px;
    height: 38.333px;
    margin-top: 8px;
}
.product-divider{
    width: 205px;
    height: 66.333px;
    background-color: transparent;
    position: relative;
    right: 20px;
    bottom: -10px;
}


.product-divider .product-card-module_add-to-cart-button-wrapper button,
.product-divider .product-card-module_add-to-cart-button-wrapper .button
{
    display: block;
    min-width: auto;
    padding: 12px;
    width: 100%;

}

.add-to-cart-button-module_add-to-cart-button.button.ghost{
    background-color: #fff;
    border-color: #1c8644;
    color: #1c8644;

}

a.button, .button, button.button {
    border-radius: 2px;
    font-size: 1.3rem;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}
.add-to-cart-button-module_add-to-cart-button.button.ghost:hover{
    background-color: #1c8644 ;
    color: #fff;
}
.details{
    width: 150px;
    display: inline-block;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    background-color: #fff;
    color: black;
    border-radius: 3px;
    border-color: orange;
    font-weight: bold;
    font-size: 13px;
}

.details:hover{
    background-color: darkorange;
    color: whitesmoke;
}
.price{
    font-size: 2.76923rem;
    line-height: 1.2;
    font-weight: bold;
}
@media screen and (max-width: 991px){
   .col-md-6{
       max-width: 100%;
   }
    #small-img{
        display: none;
    }

}
.ref-button{
    background-color: green;
    border-radius: 3px;
    border-color: green;
}
.ref-button:hover{
    background-color: green;
}
@media screen and (max-width: 992px) and (min-width: 768px)
   {
.ref-button{
    height: 45px;
    padding-top: 5px;

         }
   }

   @media screen and (min-width:768px)
   {
       .cart-div {
           padding: 20px 20px 25px;
           box-shadow: 0 3px 3px 0 rgba(77, 77, 79, 0.08), 0 0 2px 0 rgba(77, 77, 79, 0.16);
           background-color: #fff;
           border-radius: 3px;
           height: 195px;
       }

       .ref-button {
           height: 50px;
           width: 100%;
           color: white;
           font-weight: bold;
           padding: 4px;
       }

       .description-div {
           position: relative;
           top: 100px;
           padding: 20px 20px 25px;
    box-shadow: 0 3px 3px 0 rgba(77,77,79,0.08),0 0 2px 0 rgba(77,77,79,0.16);
    background-color: #fff;
    border-radius: 3px;
           left: -15px;
       }

       .features {
           position: absolute;

       }
       .footer-dark{
           position: absolute;
           bottom: -2000px;
           background-color: black;
           width: 100%;
       }
        .content{
        width: 868px;
            left: -20px;
            padding: 40px;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(5, 5, 27, 0.08),0 0 2px 0 rgba(82, 82, 93, 0.16);
    background-color: #fff;
            max-height: 360px;
    }

   }

   .related{
       position: relative;
       top:-400px;
   }

.features-boxed{
    position: relative;
    bottom: -200px;
    background-color: #f4f4f4;
}





@media print, screen and (max-width: 768px){

    .container{
        max-width: 718px;
    }
    .cart-div {
background-color: #fff;
bottom: 0;
        z-index: 200;
        position: fixed;
    }
    .description-div{
        position: absolute;
        top: 850px;
        left:0px;
        height: 350px;
        padding: 20px 20px 25px;
    box-shadow: 0 3px 3px 0 rgba(77,77,79,0.08),0 0 2px 0 rgba(77,77,79,0.16);
    background-color: #fff;
    border-radius: 3px;
        margin-top: -20px;
    }
    .ref-button{
        width: 100%;
        border-radius: 20px;
        padding:9px;
        font-size:1.19rem;
        font-weight: bold;
        text-align: center;
        color: whitesmoke;
    }
    .img-div{
        max-width: 250px;
        max-height: 200px;
    }

    .name-info-div{
        margin-top: 40px;
        margin-left: 30px;
    }
    .img-content{
        margin-left: 40px;
    }

    .content{
        width: 868px;
        left: -70px;
        padding: 40px;
        border-radius: 3px;
        box-shadow: 0 3px 3px 0 rgba(5, 5, 27, 0.08),0 0 2px 0 rgba(82, 82, 93, 0.16);
        background-color: #fff;max-height: 360px;
        position: relative;

    }
    .footer-dark{
        display: none;
    }

}



   .input-text{
       width: 60px;
       text-align: center;
   }

.order-info{
background-color: #efefef;
width: 340px;
    height: 240px;
float: right;
padding: 10px 20px;
color: #333;
    margin-top: 25px;
margin-right: 25px;
border: 5px solid gainsboro;
}
@media screen and (min-width: 768px) and (max-width: 992px){
.boox{
    position: relative;
    bottom: -250px;

}
}

.order-info h3{
    color:darkturquoise;
    font-size: 18px;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:18px;
}

.order-info p{
    font-size: 22px;
font-weight: bold;
margin-top: 15px;
text-align: center;
}


@media screen and (max-width: 768px){

   .related{
       position: relative;
       top: 100px;
       background-color: #f4f4f4;
       margin-bottom: 450px;
   }
   .prods{
       bottom: 100px;
   }

   .boox{
       position: relative;
       bottom: -400px;
   }
   .features{
       position: absolute;
   }

}

   .carousel-inner img{
       height: 300px;
       width: 700px;
   }

   @media screen and (max-width: 768px) {

       .carousel{
           left: 0;
           max-width: 550px;

       }
        .carousel-inner img{
       height: 300px;
       max-width: 550px;
   }

        .zoomLens{
            visibility: hidden;
        }
        .zoomWindow{
            visibility: hidden;
        }
   }


   .item-deal{
       width: 350px;
       height:255px;
       background-color: #fff;
        margin-right: 10px;
   }

   .item-deal:hover{
       border: 1px solid dodgerblue;
       cursor: pointer;
   }
   .img-deal{
       height: 140px;
       width: 200px;
       margin-left: 30px;
   }

   .img-deal img{
       width: 100%;
       height: 100%;
       margin-top: 25px;
   }

   .deals-wrapper{
       background-color: #fff;

   }

.title-deal{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.prev-price-prod{
    color: #adadad;
    font-size: .92308rem;
    text-decoration: line-through;
    vertical-align: baseline;
}
.price-now{
    align-self: center;
color: #000;
float: left;
font-size: 1.23077rem;
font-weight: bold;
line-height: 16px;
margin-bottom: 0;
padding-right: 10px
}

.price-prev{
    line-height: 16px;
margin-bottom: 2px;
margin-top: 2px;
}
.price-deal{
    margin-left: 30px;
}

@media screen and(max-width: 880px) {
    .item-deal{
        width: 250px;

    }

}

   .ui-widget-header{
       background-color: #1b6d85!important;
   }

.product-filters{

    left: 130px;
    margin-left: 50px;
}
#slider-range{
     max-width: 130px;
     top: 50px;
    left: 35px;
}

.filter-form{
    position: relative;
    max-width: 250px;
    min-width: 220px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(77,77,79,0.08),0 0 2px 0 rgba(77,77,79,0.16);
    left: 10px;
}

#filter-button{

    position: relative;
    left: 60px;
padding: 10px;
background-color: #1b6d85;
color: #fff;
border-radius: 10%;
width: 40%;
    top: 160px;
}

#slider_text{
      position: relative;
      top: 70px;
      left: 20px;
      font-weight: 700;
      color: lightslategray;
      font-size: 17px;
}

.ui-slider-horizontal .ui-slider-handle{
    top: -.2em;!important;
    width: 12px;!important;
    height: 12px;!important;
    border-radius: 50%;!important;
}
.ui-slider-horizontal{
    height: .5em;!important;
}

.filter{
    right: 1100px;
    top: 0px;
}
.products-wrapper{
    right: 250px;
    width: 900px;
}

#filter-title{
    text-align: center;
    top: 50px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}