{% extends "base.html" %}
{% load static %}
{% block main %}
    <main class="main">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'myshop:home' %}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Produits</a></li>
                </ol>
            </nav>

            <div class="product-single-container product-single-default">
                <div class="cart-message d-none">
                    <strong class="single-cart-notice">“{{ product.name }}”</strong>
                    <span>est ajoutee dans votre panier.</span>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-md-6 product-single-gallery">
                        <div class="product-slider-container">
                            <div class="label-group">
                                {% if product.discount > 0 %}
                                    <div class="product-label label-sale">
                                        -{{ product.discount }}%
                                    </div>
                                {% endif %}
                            </div>
                            <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                {% for image in images %}
                                    <div class="product-item">
                                        <img class="product-single-image" src="{{ image.image.url }}"
                                             data-zoom-image="{{ image.image.url }}" width="468" height="468"
                                             alt="product"/>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- End .product-single-carousel -->
                            <span class="prod-full-screen">
                             <i class="icon-plus"></i>
                            </span>
                        </div>

                        <div class="prod-thumbnail owl-dots">
                            {% for image in images %}

                                <div class="owl-dot">
                                    <img src="{{ image.image.url }}" width="110" height="110"
                                         alt="product-thumbnail"/>
                                </div>


                            {% endfor %}

                        </div>
                    </div>
                    <!-- End .product-single-gallery -->

                    <div class="col-lg-7 col-md-6 product-single-details">
                        <h1 class="product-title">{{ product.name }}</h1>

                        <div class="product-nav">
                            <div class="product-prev">
                                <a href="#">
                                    <span class="product-link"></span>
                                    <span class="product-popup">
                    <span class="box-content">
                        <img alt="product" width="150" height="150" src="{{ product.image.url }}"
                             style="padding-top: 0px;">

                    </span>
                </span>
                                </a>
                            </div>

                            <div class="product-next">
                                <a href="#">
                                    <span class="product-link"></span>
                                    <span class="product-popup">
                    <span class="box-content">
                        <img alt="product" width="150" height="150" src="{{ product.image.url }}"
                             style="padding-top: 0px;">
                        <span>{{ product.next_name }}</span>
                    </span>
                </span>
                                </a>
                            </div>
                        </div>
                        <hr class="short-divider">

                        <div class="price-box">
                            {% if product.price_before_Discount %}
                         <span class="old-price">{{ product.price_before_Discount }} Dhs</span>
                          {% endif %}

                            <span class="new-price">{{ product.price }} Dhs</span>
                        </div>

                        <div class="product-desc">
                            <p>{{ product.description }}</p>
                        </div>

                        <ul class="single-info-list">
                            <li>CATEGORIE: <strong><a
                                    href="{% url 'myshop:product_list_by_category' product.id product.slug %}"
                                    class="product-category">{{ product.category }}</a></strong></li>
                        </ul>

                        <div class="product-action">
                            <form id="add-to-cart" action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="product-single-qty">
                                    {{ formCart.quantity }}
                                </div>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {{ formCart.override }}
                                <button class="btn btn-dark add-cart mr-2" title="Add to Cart">Ajouter Au Panier
                                </button>
                                <a href="{% url 'cart:cart_detail' %}" class="btn btn-gray view-cart d-none">Voir
                                    Panier</a>
                            </form>
                        </div>

                        <hr class="divider mb-0 mt-0">
                    </div>

                    <!-- End .product-single-details -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .product-single-container -->

            <div class="product-single-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content"
                           role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content"
                           role="tab" aria-controls="product-tags-content" aria-selected="false">informations
                            supplémentaires</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content"
                           role="tab" aria-controls="product-reviews-content" aria-selected="false"></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                         aria-labelledby="product-tab-desc">
                        <div class="product-desc-content">
                            <p>{{ product.description }}
                            </p>
                        </div>
                        <!-- End .product-desc-content -->
                    </div>
                    <!-- End .tab-pane -->

                    <div class="tab-pane fade" id="product-size-content" role="tabpanel"
                         aria-labelledby="product-tab-size">
                        <!-- End .product-size-content -->
                    </div>
                    <!-- End .tab-pane -->

                    <div class="tab-pane fade" id="product-tags-content" role="tabpanel"
                         aria-labelledby="product-tab-tags">
                        <table class="table table-striped mt-2">
                            <tbody>
                            {% for info in infos_supplementaires %}
                                <tr>
                                    <th>Poids</th>
                                    <td>{{ info.poids }} Kg</td>
                                </tr>

                                <tr>
                                    <th>Dimensions</th>
                                    <td>{{ info.dimensions }}</td>
                                </tr>

                                <tr>
                                    <th>Color</th>
                                    <td>{{ info.couleurs }}</td>
                                </tr>

                                <tr>
                                    <th>Marque</th>
                                    <td>{{ info.marque }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End .tab-pane -->
                    <!-- End .tab-pane -->
                </div>
                <!-- End .tab-content -->
            </div>
            <!-- End .product-single-tabs -->

            <div class="products-section pt-0">
                <h2 class="section-title mt-0">Produits Similaires</h2>

                <div class="products-slider 5col owl-carousel owl-theme dots-top dots-small" data-owl-options="{
						'dots': true
					}">
                    {% for related_product in recommended_products %}
                        <div class="product-default">
                            <figure>
                                <a href="">
                                    <img src="{{ related_product.image.url }}" alt="product">
                                </a>

                                <div class="label-group">
                                    <span class="product-label label-sale">{{ related_product.discount }}</span>
                                </div>
                            </figure>

                            <div class="product-details">
                                <h3 class="product-title">
                                    <a href="{{ product.get_absolute_url }}">{{ related_product.name }}</a>
                                </h3>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="old-price">{{ product.price }} Dhs</span>
                                    <span class="product-price">{{ product.price_after_Discount }} Dhs</span>
                                </div>
                                <!-- End .price-box -->

                                <div class="product-action">
                                    <form id="add-to-cart" action="{% url 'cart:cart_add' product.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="product-single-qty">
                                            {{ formCart.quantity }}
                                        </div>
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        {{ formCart.override }}
                                        <button type="submit"
                                                class="btn-icon btn-add-cart product-type-simple"><i
                                                class="icon-shopping-cart"></i><span>Ajouter Au Panier</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>
                    {% endfor %}
                </div>
                <!-- End .products-slider -->
            </div>
            <!-- End .products-section -->

            <div class="product-widgets-container custom-widget-container row pb-2">
                <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                    <h4 class="section-sub-title m-b-3">Produits populaires</h4>
                    {% for product in featured_products %}
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="{% url 'myshop:details_product' product.id %}">
                                    <img src="{{ product.image.url }}" alt="product">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h3 class="product-title"><a
                                        href="{% url 'myshop:details_product' product.id %}">{{ product.name }}</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width: 0%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">0</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <span class="product-price">{{ product.price }} Dhs</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                    <h4 class="section-sub-title m-b-3">Derniers Produits</h4>
                    {% for product in latest_products %}
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="{% url 'myshop:details_product' product.id %}">
                                    <img src="{{ product.image.url }}" alt="product">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h3 class="product-title"><a
                                        href="{% url 'myshop:details_product' product.id %}">{{ product.name }}</a></h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width: 0%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">0</span>
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->
                                <div class="price-box">
                                    <span class="product-price">{{ product.price }} Dhs</span>
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    {% endfor %}

                </div>

            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </main>
    <!-- End .main -->


{% endblock %}
