{% extends "base.html" %}


{% block main %}
    <style>
          h1, h2 {
            color: #333;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
    </style>

<main class="main">
  <h1>Retours & Remboursements</h1>

    <h2>Politique de Retour</h2>
    <p>
        Vous avez 7 jours ouvrés si le produit ne vous convient pas et 30 jours si le produit ne correspond pas à la description et aux photos présentes sur le site.
    </p>
    <p>
        Si votre produit est éligible (Voir conditions ci-dessous) à un retour, on vous invite à nous contacter au <strong>06 54 51 16 08</strong>.
    </p>

    <h2>Conditions de Retour</h2>
    <p>
        Pour tout produit endommagé pendant la livraison, veuillez contacter notre service client dans les 3 jours qui suivent pour faire une réclamation. Veuillez à bien retourner tous les accessoires du produit. Si votre retour n’est pas complet, il ne sera pas accepté.
    </p>
    <p>
        A la réception du retour, il est systématiquement soumis à un examen et ce n’est qu’après validation du retour que vous serez remboursé.
    </p>
    <p>
        Si votre retour n’est pas éligible à un remboursement ou un échange, il vous sera retourné.
    </p>

    <h2>Les Conditions d'Acceptation du Retour</h2>
    <ul>
        <li>Livraison du mauvais produit</li>
        <li>Produit endommagé ou défectueux</li>
        <li>Pièces manquantes</li>
        <li>Description incorrecte sur le site</li>
    </ul>
    <p>
        Le produit doit impérativement être remis dans son emballage d’origine et les frais de retour seront à votre charge. A la réception du retour et validation de ce dernier les frais du retour vous seront remboursés. Dans le cas de non validation du retour, les frais ne seront pas remboursés.
    </p>
    <p>
        Combien de temps faut-il pour examiner le produit et vérifier son éligibilité au remboursement ?
    </p>
    <p>
        A la réception de votre retour, le produit est examiné dans un délai maximum de 48h. Une fois la vérification terminée, le service après-vente revient vers vous pour vous informer de la situation et lancer la procédure de remboursement le cas échéant. Pour toute demande de retour produit, il est impératif d’indiquer votre numéro de commande et la raison du retour.
    </p></main>

{% endblock %}