{% extends 'base.html' %}
{% block main %}

  {% if results %}
              <main class="main caty-page">
            <!-- parallax -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 main-content">
                        <div class="row products-group products-caty">
                            {% for product in results %}
                                <div class="col-md-4 col-6">
                                    <div class="product-default inner-quickview inner-icon quantity-input">
                                        <figure>
                                            <a href="{% url 'myshop:details_product' product.id %}">
                                                <img src="{{ product.image.url }}" width="280" height="280"
                                                     alt="{{ product.title }}">
                                            </a>
                                            {% if product.is_hot %}
                                                <div class="label-group">
                                                    <span class="product-label label-hot">HOT</span>
                                                </div>
                                            {% endif %}
                                            {% if product.discount_percentage %}
                                                <div class="label-group">
                                                    <span class="product-label label-sale">-{{ product.discount_percentage }}%</span>
                                                </div>
                                            {% endif %}
                                            <div class="btn-icon-group">
                                                <a href="#" class="btn-icon btn-icon-wish">
                                                    <i class="icon-heart"></i>
                                                </a>
                                            </div>
                                            <a href="#" class="btn-quickview" title="Quick View">Quick View</a>
                                        </figure>
                                        <div class="product-details">
                                            <div class="category-list">
                                                <a href="{{ product.category.get_absolute_url }}"
                                                   class="product-category">{{ product.category }}</a>
                                            </div>
                                            <h3 class="product-title"><a
                                                    href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
                                            <div class="ratings-container">
                                                <!-- Render product ratings here if available -->
                                            </div>
                                            <div class="price-box">
                                                {% if product.discounted_price %}
                                                    <span class="product-price">{{ product.discounted_price }} Dhs</span>
                                                    <del class="product-old-price">{{ product.price }} Dhs</del>
                                                {% else %}
                                                    <span class="product-price">{{ product.price }} Dhs</span>
                                                {% endif %}
                                            </div>
                                            <div class="product-action">
                                                <form id="add-to-cart" action="{% url 'cart:cart_add' product.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <div class="product-single-qty">
                                                        {{ formCart.quantity }}
                                                    </div>
                                                    <input type="hidden" name="next" value="{{ request.path }}">
                                                    {{ formCart.override }}
                                                    <button type="submit"
                                                            class="btn-icon btn-add-cart product-type-simple"><i
                                                            class="icon-shopping-cart"></i><span>Ajouter Au Panier</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- End .col-lg-9 -->

                    <div class="sidebar-overlay"></div>
                    <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                        <div class="sidebar-wrapper">
                            <div class="widget">
                            </div>
                            <!-- End .widget -->
                            <div class="widget widget-featured">
                                <h3 class="widget-title">Populaire</h3>
                                <div class="widget-body">
                                    <div class="owl-carousel widget-featured-products">
                                        {% for product in featured_products %}
                                            <div class="featured-col">
                                                <div class="product-default left-details product-widget">
                                                    <figure>
                                                        <a href="{% url 'myshop:details_product' product.id %}">
                                                            <img src="{{ product.image.url }}" width="84" height="84"
                                                                 alt="{{ product.title }}"/>
                                                        </a>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h3 class="product-title"><a
                                                                href="{% url 'myshop:details_product' product.id %}">{{ product.name }}</a>
                                                        </h3>
                                                        <div class="ratings-container">
                                                            <!-- Add your rating display logic here if applicable -->
                                                        </div>
                                                        <div class="price-box">
                                                            <span class="product-price">{{ product.price_after_discount }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- End .widget -->
                            <!-- End .widget -->
                        </div>
                        <!-- End .sidebar-wrapper -->
                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </main>

    {% endif %}

{% endblock %}
