{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HTGT1HLSQ0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HTGT1HLSQ0');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Jouets Palace</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="JouetsPalace">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static "images/icons/favicon.png" %}">

    {% tailwind_css %}
    <script>
        WebFontConfig = {
            google: { families: ['Open+Sans:300,400,600,700', 'Poppins:300,400,500,600,700,800', 'Playfair+Display:900', 'Shadows+Into+Light:400'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = {% static 'js/webfont.js' %};
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static "css/demo7.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
</head>

{% endblock %}

<body>
<style>
    #scroll-top-whatsapp.fixed {
	transform: translateY(0);
	visibility: visible;
	color: #FFF;
	width: 49px;
	height: 48px;
	right: 10px;
	text-align: center;
	text-decoration: none;
	z-index: 996;
	transition: background 0.3s ease-out;
    margin-bottom: 50px;
}
    #scroll-top-whatsapp{
        bottom: 0;
    }
</style>
    <div class="page-wrapper">
        {% include 'shop/header.html' %}
        {% block main %}{% endblock %}

        {% include 'shop/footer.html' %}
    </div><!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                {% load mptt_tags %}
                <ul class="mobile-menu">
                    <li><a href="{% url 'myshop:home' %}">Home</a></li>
                    {% recursetree categories %}
                    <li>
                        <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                        <ul>
                            {{ children }}
                        </ul>
                    {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>
                <ul class="mobile-menu">
                    {% if request.user.isAuthenticated %}
                    <li><a href="{% url 'account:dashboard' %}">Mon Compte</a></li>
                    {% else %}
                    {% endif %}
                    <li><a href="{% url 'myshop:contact_us' %}">Nous contacter</a></li>
                    <li><a href="{% url 'cart:cart_detail' %}">Mon Panier</a></li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <form class="search-wrapper mb-2" action="{% url 'myshop:product_search' %}" method="get">
               <input type="search" class="form-control" name="query" id="qqq" placeholder="Search..."
                                   required>
                <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
            </form>

            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61560206640309" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <div class="sticky-navbar">
        <div class="sticky-info">
            <a href="{% url 'myshop:home' %}">
                <i class="icon-home"></i>Home
            </a>
        </div>
        <div class="sticky-info">
            <a href="demo7-shop.html" class="">
                <i class="icon-bars"></i>Categories
            </a>
        </div>
        <div class="sticky-info">
            <a href="{% url 'account:dashboard' %}" class="">
                <i class="icon-user-2"></i>Compte
            </a>
        </div>
        <div class="sticky-info">
            <a href="{% url 'cart:cart_detail' %}" class="">
                <i class="icon-shopping-cart position-relative">
                    <span class="cart-count badge-circle">3</span>
                </i>Panier
            </a>
        </div>
    </div>
    <a id="scroll-top-whatsapp" href="https://api.whatsapp.com/send?phone=212654511608" title="Top" role="button" class="fixed"><image src="{% static 'images/whatsapp.png' %}"></image></a>
    <a id="scroll-top" href="#top" title="Top" role="button" class="fixed"><i class="icon-angle-up"></i></a>
    <!-- Plugins JS File -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.min.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.1.0/tinymce.min.js" integrity="sha512-Va3PZJRSZ8TlnqUfjkA5YPR57+oIscCVoNGjYK1JYsOTw8VU7517hHqs90/h/YuUm8KZl9iD+Dt8K6T8uAJCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  tinymce.init({
    selector: 'textarea'
  });

  </script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePasswordElements = document.querySelectorAll('.toggle-password');

        togglePasswordElements.forEach(function (togglePassword) {
            togglePassword.addEventListener('click', function (e) {
                const input = document.querySelector(togglePassword.getAttribute('toggle'));
                if (input.getAttribute('type') === 'password') {
                    input.setAttribute('type', 'text');
                    togglePassword.classList.remove('fa-eye');
                    togglePassword.classList.add('fa-eye-slash');
                } else {
                    input.setAttribute('type', 'password');
                    togglePassword.classList.remove('fa-eye-slash');
                    togglePassword.classList.add('fa-eye');
                }
            });
        });
    });
</script>

{% block scripts %}

{% endblock %}
</html>
